@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
.model-title{
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px;
}

.item-design{
    margin: 5px 15px;
}

.form-info-btn {
    margin-bottom: 20px;
}

.over-photo {
    margin: 10px;
    display: flex;
    align-items: center;
}
.image-main{
    position: relative;
    top: -20px;
    right: 80px;
    width: 180px;
    height: 100px;
    background-color: #fff;
}

.cover-image{
    background-color: #eee;
}

.over-photo .image-cover {
    margin: 10px;
    height: 50px;
    object-fit: cover;
    width: 180px;
}
.service-btn{
    margin:10px 30px;
    text-align: right;
}

.create-btn{
    margin:10px;
    text-align: center;
}

.create-btn button{
    background: none;
    border: 1px solid #87f7a7;
    padding: 5px 30px;
    color: #87f7a7;
    border-radius: 10px;
    font-size: 15px
}

.create-btn button:hover{
    background: #aeefae;
    color: #fff;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.service-btn button{
    background: none;
    border: 1px solid #278fe4;
    padding: 5px 30px;
    color: #278fe4;
    border-radius: 10px;
}

.service-btn button:hover{
    background: #5799e4;
    color: #fff;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.description-container{
    margin: 20px;
    border: 1px solid #c0c2c3;
    border-radius: 10px;
}

.description-btn{
    margin:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.description-btn button{
    background: none;
    border: 1px solid #278fe4;
    padding: 5px 30px;
    color: #278fe4;
    border-radius: 10px;
}
.description-btn button:hover{
    background: #5799e4;
    color: #fff;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.description-content{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.description-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.description-content span{
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-image{
    margin-top: 60px;
}
.member__main_info_item-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.member__main_info_item-image img{
    width: 200px;
    height: 150px;
}

.content-editor {
    margin: 15px;
}

.file-upload {
    margin-top: 80px;
}

.info-input{
    font-size: 14px;
    height: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding:0 15px;
    width: 100%;
    background: none;
}

.label-info-company{
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.label-title{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}
.image-center{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.image-center-choose{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:38px;
    margin-left: 50px;
}

.form-info-btn{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn-create-company {
    padding: 6px 15px;
}

.btn-create{
    padding: 6px 50px;
    border: 1px solid #d5d6d8;
    background: #1891fa;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.btn-create:hover{
    background: #83c4fe;
    color: #ffffff;
}

.btn-cancel{
    padding: 6px 50px;
    border: 1px solid #d5d6d8;
    background: #ffffff;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.btn-cancel:hover{
    background: #83c4fe;
    color: #ffffff;
}

.ant-modal-footer{
    display: none;
}

.label-info-company:hover{
    border: 1px solid #2689fa;
}





@media screen and (max-width:600px) {
    .image-main {
        position: relative;
        top: -20px;
        right: 0px;
        width: 180px;
        height: 100px;
        background-color: #fff;
    }
    .image-cover {
        position: relative;
        top: -20px;
        right: 0px;
        width: 180px;
        height: 100px;
        background-color: #fff;
    }
}